.slick-dots li {
    height: 40px !important;
    width: 40px !important;
    border: 1px solid grey;
    bottom: 0px !important;
}

.slick-dots {
    position: relative !important;
    bottom: 0px !important;
}

#image_slider *{
    min-height: 0;
    min-width: 0;
}

.slick-slider {
    margin-top: 30px !important;
}